<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>StickyNote</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<!--header.css is for shared header elements for all pages and stickynote.css is for elements specific to this page-->
        <link rel="stylesheet" type="text/css" href="../quotesLibrary/static/css/header.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="../quotesLibrary/static/css/stickynote.css" media="screen"/>
		<style>
			.content{
				position:absolute;
				background: transparent url(../quotesLibrary/static/images/cork.png) top left;
				top:60px;
				left:0px;
				right:0px;
				padding:0px;
				margin:0px;
				height:100%;
				z-index:1;
			}
		</style>
		<!--jQuery modules and javascript files-->
		<!--some of these files could have been combined, but it made sense to separate some of the code into reusable groups-->
		<script type="text/javascript" src="../quotesLibrary/static/javascript/jquery-1.3.2.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/stickynote.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/ui.core.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/ui.draggable.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/clock.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/myLocalStore.js"></script>
		<script type="text/javascript" src="../quotesLibrary/static/javascript/cookie.js"></script>

		<!--Inline javascript and jQuery-->
		<script type="text/javascript">
			<!--onload function to set username,background, and clock for each page and for functions needed at start -->
			window.onload=function(){
				<!--username carries across the interactive pages, but is only settable from index.html-->
				var userName;
				if(checkCookie("UserName")){
					userName=getCookie("UserName");
				} else {
    				userName = "Guest";
    			}
				document.getElementById("txtusername").textContent = userName + "\'s Noteboard";
				<!--background can be set on any page and carries over to all other pages except snake, background is stored as a cookie-->
				var bkgrnd = getCookie("bkgrnd");
				if(bkgrnd != ""){
					document.getElementById("content").style.backgroundImage = bkgrnd;
				}
				<!--I wanted a clock in the corner-->
				GetClock();
				setInterval(GetClock,1000);
				<!--look in LocalStorage for any notes and import them-->
				loadNotes();
			}

		$(function() {
			<!--doubleclicking anywhere on the page generates a blue sticky - wanted to see if I could get it to work and left it in-->
			$("#content").stickynote({
				color			 : 'blue',
				event			 : 'dblclick'
			});
			<!--events for my div hotspot buttons each creates a different note color-->
			$("#note-green").stickynote({
				color			 : 'green'
			});

			
			$("#note-orange").stickynote({
				color			 : 'orange'
			});

			$("#note-yellow").stickynote({
				color			: 'yellow',
				top			: '120px',
				left			: '180px'
			});

			$("#note-blue").stickynote({
				color			: 'blue',
				top			: '70px',
				left			: '100px'
			});
			<!--events for my div hotspot buttons in the header to set the background - changing the background updates the cookie-->
			$("#bkgrnd-cork").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quotesLibrary/static/images/cork.png)";
				setCookie("bkgrnd", "url(../quotesLibrary/static/images/cork.png)");
			});

			$("#bkgrnd-bboard").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quotesLibrary/static/images/chalkboard.PNG)";
				setCookie("bkgrnd", "url(../quotesLibrary/static/images/chalkboard.PNG)");
			});

			$("#bkgrnd-wboard").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quotesLibrary/static/images/wboard.png)";
				setCookie("bkgrnd", "url(../quotesLibrary/static/images/wboard.png)");
			});
			$("#bkgrnd-paper").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quotesLibrary/static/images/paper6.png)";
				setCookie("bkgrnd", "url(../quotesLibrary/static/images/paper6.png)");
			});
		
		});
		</script>
	</head>
	<!--save any note we have on the page to LocalStorage when we exit page-->
    <body onunload="saveNotes()">
	<!--button in the left of the header to navigate back to main page-->
		<button id="myButton" onclick="window.location.href='../index.html'">&lt;&lt; Go Home</button>
		<div class="header"></div>
		<div id="txtusername"></div>
		<div id="clockDate"></div>
		<div id="clockTime"></div>
		<!--hotspots in the header above clock to change the background-->
		<ul class="bkgrnd">
			<li id="bkgrnd-cork" style="background-image:url(../quotesLibrary/static/images/cork.png)">&nbsp;&nbsp;</li>
			<li id="bkgrnd-bboard" style="background-image:url(../quotesLibrary/static/images/chalkboard.PNG)">&nbsp;&nbsp;</li>
			<li id="bkgrnd-wboard" style="background-color:#f5f3ee">&nbsp;&nbsp;</li>
			<li id="bkgrnd-paper" style="background-image:url(../quotesLibrary/static/images/paper6.png)">&nbsp;&nbsp;</li>
		</ul>
		<!--hotspots in the upper left of content area to generate a note of chosen color-->
		<ul class="postits">
			<li id="note-green" style="background-color:#c3f900">+</li>
			<li id="note-orange" style="background-color:#ffa300">+</li>
			<li id="note-yellow" style="background-color:#fef282">+</li>
			<li id="note-blue" style="background-color:#84dcf4">+</li>
		</ul>
		<!--content area is draggable and double-click enabled-->
		<div id="content" class="content">
		</div> 		

    </body>
</html>

