<html>
	<!--COMMENTS-->
	<head>
		<title>Quotes Board</title>
		<link rel="stylesheet" type="text/css" href="../quoteLibrary/static/css/header.css">
		<link rel="stylesheet" type="text/css" href="../quoteLibrary/static/css/quotesPages.css">

		<style>
			.content{
				position:absolute;
				background: url("../quotesLibrary/static/images/cork.png") top left repeat;
				top:60px;
				left:0px;
				right:0px;
				padding:0px;
				margin:0px;
				height: 93%;
				overflow: auto;
			}
		</style>

		<script type="text/javascript" src="../quoteLibrary/static/javascript/jquery-1.3.2.js"></script>
		<script type="text/javascript" src="../quoteLibrary/static/javascript/ui.core.js"></script>
		<script type="text/javascript" src="../quoteLibrary/static/javascript/header.js"></script>
		<script type="text/javascript" src="../quoteLibrary/static/javascript/journalpage.js"></script>
		<script type="text/javascript" src="../quoteLibrary/static/javascript/clock.js"></script>
		<script type="text/javascript" src="../quoteLibrary/static/javascript/cookie.js"></script>

		<script type="text/javascript">
			window.onload=function(){
                document.getElementById("txtusername").textContent = "Quotes Board";
				var bkgrnd = getCookie("bkgrnd");
				if(bkgrnd != ""){
					document.getElementById("content").style.backgroundImage = bkgrnd;
				}
				GetClock();
				setInterval(GetClock,1000);
			}

		$(function() {

			$("#bkgrnd-cork").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quoteLibrary/static/images/cork.png)";
				setCookie("bkgrnd", "url(../quoteLibrary/static/images/cork.png)");
			});

			$("#bkgrnd-bboard").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quoteLibrary/static/images/chalkboard.PNG)";
				setCookie("bkgrnd", "url(../quoteLibrary/static/images/chalkboard.PNG)");
			});

			$("#bkgrnd-wboard").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quoteLibrary/static/images/wboard.png)";
				setCookie("bkgrnd", "url(../quoteLibrary/static/images/wboard.png)");
			});
			$("#bkgrnd-paper").click(function(){
				document.getElementById("content").style.backgroundImage = "url(../quoteLibrary/static/images/paper6.png)";
				setCookie("bkgrnd", "url(../quoteLibrary/static/images/paper6.png)");
			});

		});
		</script>
	</head>
    <body>
		<button id="myButton" onclick="window.location.href='../index.html'">&lt;&lt; Go Home</button>
		<div class="header"></div>
		<div id="txtusername"></div>
		<div id="clockDate"></div>
		<div id="clockTime"></div>

		<ul class="bkgrnd">
			<li id="bkgrnd-cork" style="background-image:url(../quoteLibrary/static/images/cork.png)">&nbsp;&nbsp;</li>
			<li id="bkgrnd-bboard" style="background-image:url(../quoteLibrary/static/quoteLibrary/images/chalkboard.PNG)">&nbsp;&nbsp;</li>
			<li id="bkgrnd-wboard" style="background-color:#f5f3ee">&nbsp;&nbsp;</li>
			<li id="bkgrnd-paper" style="background-image:url(../quoteLibrary/static/images/paper6.png)">&nbsp;&nbsp;</li>
		</ul>

		<div id="content" class="content">
			<div class="quotesDiv">
				{% for author in authors %}
                    		<h2>{{ author.name }}</h2>
                   			{% for quote in author.quote_set.all %}
                       			 <a href="{% url 'indivQuote' quote.id %}"><blockquote>{{ quote.quote }}</blockquote></a>
                        		<br />
                   			 {% endfor %}
               			 {% endfor %}
			</div>
		</div>
	</body>
</html>
