/*format text for New Entry button on journal page*/

.addNew{
	position:relative;
	height:10px;
	font-weight:bold;
	fontsize:10px;
	left:2px;
	color:black;
}

.addNew:hover{
	font-weight:bold;
	color: #ff99cc;
}

/*the div that holds the journal paper*/
.journalDiv{
	position:absolute;
	background: url(../images/paper1.jpg);
	top:10px;
	left:20%;
	height:95%;
	width:60%;
	z-index:10000;
	display:table;
}

/*the journal table that holds the entry records*/
.journalTable{
	width:100%;
	border-collapse: collapse;
}
	
.journalTable td { 
	overflow: hidden; 
}

/*TR entries for Date and Content*/
.journalDateRow{
	position:relative;
	top:5px;
	left:20px;
	height:100%;
	width:95%;
}

.journalEntryRow{
	position:relative;
	top:5px;
	left:50px;
	width:90%;
}

/*TD for date when committed*/
.journalDate{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	position:relative;
	left:1%;
	width:98%;
	opacity:0.6;
}

/*TD for date when editable*/
.editjournalDate{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	position:relative;
	left:10%;
	width:98%
	opacity:1;
}

/*TD for journal entry when editable and when committed*/
.journalEntry{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
	font-size:20px;
	font-weight:normal;
	padding-bottom:10px;
	width: 90%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

/*Journal text area when committed*/
.journalText{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
	font-size:20px;
	font-weight:normal;
	resize:none;
	border-style:none;
	border-color:transparent;
	background-color: transparent;
	opacity: 0.7;
	width:80%;
}

/*Journal text area then editable*/
.editjournalText{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
	font-size:24px;
	font-weight:normal;
	resize:none;
	border-style:none;
	background-color: transparent;
	opacity:1;
	width:80%;
}