
/* START OF NAVIGATION STICKY NOTE CSS*/
/*navigation cards on index.html*/	
	.nav ul, li{
		list-style: none;
	}
	.nav ul{
		overflow: hidden;
		padding: 1em;
	}
	.nav ul li{
		text-decoration: none;
		z-index: 999999;
		color: black;
		display: block;
		height: 300px;
		width: 300px;
		padding: 10px;
		top:10%;
		left:7%;
		position:absolute;
		float: left;
		background: #cb99ff;
		-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1); /*FIREFOX*/
		-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7); /*CHROME OPERA SAFARI*/
		box-shadow: 5px 5px 7px rgba(33,33,33,.7); /*OLD OPERA*/
		
		-moz-transition: -moz-transform .15s linear; /*FIREFOX*/
		-o-transition: -o-transform .15s linear;  /*OLD OPERA*/
		-webkit-transition: -webkit-transform .15s linear; /*CHROME OPERA SAFARI*/
		
		-webkit-transform: rotate(6deg); /*CHROME OPERA SAFARI*/
		-o-transform: rotate(6deg); /*OLD OPERA*/
		-moz-transform: rotate(6deg); /*FIREFOX*/
	  }
	.nav ul li:nth-child(2){
		-o-transform: rotate(-5deg); /*OLD OPERA*/
		-webkit-transform: rotate(-5deg); /*CHROME OPERA SAFARI*/
		-moz-transform: rotate(-5deg); /*FIREFOX*/
		top:35%;
		left:35%;
		background: #cbff99;
	}
	.nav ul li:nth-child(3){
		-o-transform: rotate(-3deg); /*OLD OPERA*/
		-webkit-transform: rotate(-3deg); /*CHROME OPERA SAFARI*/
		-moz-transform: rotate(-3deg); /*FIREFOX*/
		top:10%;
		left:65%;
		background: #ff99cc;
	}

	.nav ul li:hover, .nav ul li:focus{
		box-shadow: 10px 10px 7px rgba(0,0,0,.7);
		-moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
		-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
		position: absolute;
	}

	.nav ul li h2{
		margin: 5px;
		text-decoration: bold;
	}
	.nav ul li p{
		margin: 10px;
		text-decoration: none;
	}
	.nav ul li a h2{
		margin: 5px;
		text-decoration: bold;
	}
	.nav ul li a p{
		margin: 10px;
		text-decoration: none;
	}
	.nav a{
		text-decoration: none;
		color: black;
	}

	h2{
		text-align: center;
		text-decoration:bold;
		font-style: italic;
		font-size: 24px;
	}
	p{
		text-align: justify;
		font-style: italic;
		font-size: 20px;
	}

/*keep the cards in order on the page*/

	#horizontalList {
		display: inline;
	}
	