/*Main content area for documentation*/
.quotesDiv{
		position:absolute;
		background-color: #e6e6e6;
		top:0px;
		left:15%;
		padding-left:7px;
		width:70%;
		z-index: 8000;
}
/*change the color of the headers based on pattern*/
h2{
		text-decoration: bold;
		z-index: 9000;
		color: #cb99ff;
		left: 20px;
}
h2:nth-of-type(even){
		color: lime;
	}
	
h2:nth-of-type(3n){
		color: #ff99cc;
	}

/*formatting for iFrame area for video*/
iframe#largeVideo{
	position:relative;
	width:560px;
	height:315px;
	z-index:999999;
}

/*Alpha and Beta*/
h3{
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}

/*generic settings for paragraphs and lists*/
p, ul, ol{
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
}

/*centers iFrame and images*/
.centered{
	position: static;
	text-align: center;
}

/*link format*/
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: Arial, sans-serif;
}
